/* src/assets/styles/base/filter.css */

.column-filter-popup {
  position: absolute;
  top: 34px;
  left: 0;
  width: 348px;
  height: 216px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.113);
  border: 1px solid #e0e0e0;
  z-index: 100;
  padding: 16px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: default;
  white-space: normal;
}

.popup__header {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;

  &__name {
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    margin-right: 12px;
  }

  &__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px !;
    border-radius: 4px;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .filter-select {
    height: 28px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
    padding: 0 8px;
    font-size: 13px;

    &:focus {
      border-color: #2680eb;
    }
  }

  .filter-input-text {
    height: 28px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
    padding: 0 8px;
    font-size: 13px;

    &:focus {
      border-color: #2680eb;
    }
  }
}

.popup-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0 -16px 0 -16px;
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  border-radius: 0 0 12px 12px;
  flex: 1;
}

.footer-right {
  display: flex;
  gap: 8px;
}

.btn-text {
  background: transparent;
  border: none;
  color: #2680eb;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  padding: 4px;
}

.btn-white {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 13px;
}

.btn-primary {
  background: #2680eb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 13px;
}

.btn-action {
  width: 80px;
  height: 32px;
  border-radius: 8px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  padding: 0 !important;
  white-space: nowrap !important;
}
