/* Ngăn trang chính scroll */

/* Modal wrapper */
.form {
  position: fixed;
  /* đổi absolute -> fixed */
  inset: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Background overlay */
.form__bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Container */
.form__container {
  position: relative;
  flex-direction: column;
  width: 620px;
  height: 90vh;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* quan trọng */
}

/* ================= HEADER ================= */

.form__header {
  height: 72px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #eee;
}

.form__header__title {
  font-size: 20px;
  font-weight: 700;
}

/* ================= CONTENT (SCROLL HERE) ================= */

.form__content {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
}

/* Upload CV */
.form__content__header {
  text-align: center;
  font-size: 13px;
  border: 1px dashed #e0e0e0;
  border-radius: 6px;
}

.form__content__header__title {
  padding: 30px 0 5px;
  color: rgb(14, 14, 226);
  cursor: pointer;
}

.form__content__header__title:hover {
  text-decoration: underline;
}

.form__content__header__note {
  padding: 10px 20px 30px;
  color: #999;
}

/* Body */
.form__content__body {
  padding-top: 15px;
  display: flex;
}

/* Avatar */
.avatar {
  cursor: pointer;
  border-radius: 50%;
  border: 1px dashed #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: #aaa;
}

/* Right side */
.form__content__body__right {
  padding-left: 24px;
  font-size: 14px;
  width: 100%;
}

.form__content__body__right__item {
  margin-bottom: 16px;
  flex: 1;
  width: 100%;
}

.form__content__body__right> :last-child {
  margin-bottom: 0;
}

/* 2 cột */
.item__double {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.item__double>.form__content__body__right__item {
  margin-bottom: 0;
}

/* ================= FOOTER ================= */

.form__footer {
  height: 56px;
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  /* FIX thiếu px */
  border-top: 1px solid #dddde4;
  background-color: #f1f2f5;
  flex-shrink: 0;
}

/* Buttons */
.btn {
  font-size: 14px;
  padding: 7px 16px;
  border-radius: 4px;
  border: 1px solid #e0e6ec;
  cursor: pointer;
}

.btn__cancel {
  background-color: #dddde4;
}

.btn__save {
  background-color: #007bff;
  color: white;
}